VITE_PROD_SERVER=false

TAURI_SIGNING_PRIVATE_KEY=/Users/pirijan/.tauri/kinopio.key
TAURI_SIGNING_PRIVATE_KEY_PASSWORD=
APPLE_SIGNING_IDENTITY="Developer ID Application: Pirijan Ketheswaran (VWRQY6FSN5)"
APPLE_ID=hi@kinopio.club
APPLE_PASSWORD=app-specific-password
APPLE_TEAM_ID=VWRQY6FSN5
