/* Webfont: NeuePowerTrial-Bold */@font-face {
    font-family: 'NeuePowerTrial';
    src: url('NeuePowerTrial-Bold.eot'); /* IE9 Compat Modes */
    src: url('NeuePowerTrial-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('NeuePowerTrial-Bold.woff') format('woff'), /* Modern Browsers */
         url('NeuePowerTrial-Bold.woff2') format('woff2'), /* Modern Browsers */
         url('NeuePowerTrial-Bold.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

