/* Webfont: NeuePowerTrial-Oblique */@font-face {
    font-family: 'NeuePowerTrial';
    src: url('NeuePowerTrial-Oblique.eot'); /* IE9 Compat Modes */
    src: url('NeuePowerTrial-Oblique.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('NeuePowerTrial-Oblique.woff') format('woff'), /* Modern Browsers */
         url('NeuePowerTrial-Oblique.woff2') format('woff2'), /* Modern Browsers */
         url('NeuePowerTrial-Oblique.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

