/* Webfont: NeuePowerTrial-MediumOblique */@font-face {
    font-family: 'NeuePowerTrialMed';
    src: url('NeuePowerTrial-MediumOblique.eot'); /* IE9 Compat Modes */
    src: url('NeuePowerTrial-MediumOblique.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('NeuePowerTrial-MediumOblique.woff') format('woff'), /* Modern Browsers */
         url('NeuePowerTrial-MediumOblique.woff2') format('woff2'), /* Modern Browsers */
         url('NeuePowerTrial-MediumOblique.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

