:root
  --page-entity-radius 16px
  --page-section-padding 0 20px

header
  z-index 1

main.page
  user-select text
  padding-top 6rem
  padding-bottom 4rem
  margin 0
  color var(--primary)
  background-color var(--primary-background)
  .page-wrap
    margin-left auto
    margin-right auto
    max-width 755px
    @media(max-width 760px)
      max-width 600px
    h2.page-title
      font-size 32px !important
      margin-top 0
    p
      line-height 1.35
    dialog
      p
        line-height 1.2 // default for app
    > section
      width 100%
      margin-bottom 2rem
      padding var(--page-section-padding)
      > h2
        font-size 21px
        max-width 400px
      > img
        margin-bottom 1rem
        border-radius var(--page-entity-radius)
      > p
        margin 1rem 0
        max-width 440px
        &:last-child
          margin-bottom 0
      a:not(.badge)
        color var(--text-link)
        &:hover
          text-decoration none
      video
        max-width 100%
        height auto
      details + details
        margin-top 5px

    > section.intro
      video
        border-radius calc(var(--entity-radius) * 2)

    .signature
      width 70px
      margin 0

.notifications-wrap
  position fixed
  left 0
  right 0
  bottom 40px
  padding 8px
  max-width 100%
  pointer-events none
  transform-origin left bottom
  margin-bottom env(safe-area-inset-bottom)
